script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
script(src="/semantic/semantic.min.js")
script.
    $('.one').popup({
        lastResort: 'bottom left'
    });
script.
    var content = [{ title : 'UMUC Inn and Conference Center (ICC) : ICC'},
    { title : 'UMUC Student and Faculty Services Center : SFSC'},
    { title : 'UMUC/University College Garage (PGUC) : PGUC'},
    { title : 'Washington Hall (Residence Hall) : WSH'},
    { title : 'Wicomico Hall (Residence Hall) : WIC'},
    { title : 'Union Lane Parking Garage : ULG'},
    { title : 'Van Munching Hall : VMH'},
    { title : 'Physics Building : PHY'},
    { title : 'Woods Hall : WDS'},
    { title : 'Wind Tunnel Building : WTU'},
    { title : 'Worchester Hall (Residence Hall) : WOR'},
    { title : 'Plant Science Building : PLS'},
    { title : 'Reckord Armory : ARM'},
    { title : 'Ritchie Coliseum : RIT'},
    { title : 'Satellite Central Utilities Building 4 : SCUB 4'},
    { title : 'Queen Annes Hall : QAN'},
    { title : 'Preinkert Field House : PKT'},
    { title : 'Prince Georges Hall : PGG'},
    { title : 'Satellite Central Utilities Building 1 : SCUB 1'},
    { title : 'Somerset Hall (Residence Hall) : SOM'},
    { title : 'Shoemaker Building : SHM'},
    { title : 'Satellite Central Utilities Building 3 : SCUB 3'},
    { title : 'Satellite Central Utilities Building 2 : SCUB 2'},
    { title : 'Symons Hall : SYM'},
    { title : 'St. Mary\'s Hall (Residence Hall) : STM'},
    { title : 'Shriver Laboratory : SHR'},
    { title : 'Skinner Building : SKN'},
    { title : 'Tydings Hall : TYD'},
    { title : 'Stadium Drive Parking Garage : SDG'},
    { title : 'School of Public Health : SPH'},
    { title : 'Tawes Fine Arts Building : TWS'},
    { title : 'Susquehanna Hall : SQH'},
    { title : 'Animal Science/Agricultural Engineering Building : ANS'},
    { title : 'Taliaferro Hall : TLF'},
    { title : 'Adele H. Stamp Student Union Buildings : SSU'},
    { title : 'A.V. Williams Building : AVW'},
    { title : 'Turner Hall (Dairy/Visitor Center) : TUR'},
    { title : 'South Campus Dining Hall : SDH'},
    { title : 'Allegany Hall (Residence Hall) : AGY'},
    { title : 'Architecture Building : ARC'},
    { title : 'Bel Air Hall (Residence Hall) : BEL'},
    { title : 'Biology-Psychology Building : BPS'},
    { title : 'Baltimore Hall (Residence Hall) : BAL'},
    { title : 'Talbot Hall (Residence Hall) : TAL'},
    { title : 'Art-Sociology Building : ASY'},
    { title : 'A Harvey Wiley Federal Building FDA : FDA'},
    { title : 'Cambridge Hall (Residence Hall) : CAM'},
    { title : 'Anne Arundel Hall : ANA'},
    { title : 'Calvert Hall (Residence Hall) : CAL'},
    { title : 'Byrd Stadium : BRD'},
    { title : 'Biosciences Research Building : BRB'},
    { title : 'Charles Hall (Residence Hall) : CHL'},
    { title : 'Benjamin Building : EDU'},
    { title : 'Caroline Hall (Residence Hall) : CAR'},
    { title : 'Cole Student Activities Building : COL'},
    { title : 'Cambridge Community Center : CCC'},
    { title : 'Caroll Hall (Residence Hall) : CRL'},
    { title : 'Cecil Hall : CEC'},
    { title : 'Dorchester Hall (Residence Hall) : DOR'},
    { title : 'Chestertown Hall (Residence Hall) : CHS'},
    { title : 'Computer and Space Sciences Building : CSS'},
    { title : 'Cumberland Hall (Residence Hall) : CBD'},
    { title : 'Engineering Laboratory Building : EGL'},
    { title : 'Easton Hall (Residence Hall) : EAS'},
    { title : 'Centreville Hall (Residence Hall) : CEN'},
    { title : 'Chemistry Building : CHM'},
    { title : 'Clarice Smith Performing Arts Center : PAC'},
    { title : 'Frederick Hall (Residence Hall) : FRD'},
    { title : 'Geology Building : GEO'},
    { title : 'Computer Science Instructional Center : CSI'},
    { title : 'Golf Course Clubhouse : GLF'},
    { title : 'Elkton Hall (Residence Hall) : ELK'},
    { title : 'Harrison Lab : HAR'},
    { title : 'Engineering Annex : EAB'},
    { title : 'Holzapfel Hall (Horticulture) : HZF'},
    { title : 'Hagerstown Hall (Residence Hall) : HAG'},
    { title : 'Francis Scott Key Hall : KEY'},
    { title : 'Institute for Physical Science and Technology Storage : IPT'},
    { title : 'Garrett Hall (Residence Hall) : GRT'},
    { title : 'H.J. Patterson Hall : HJP'},
    { title : 'Jull Hall : JUL'},
    { title : 'Harford Hall (Residence Hall) : HRF'},
    { title : 'Howard Hall (Residence Hall) : HOW'},
    { title : 'Institute for Physical Science and Technology : IPT'},
    { title : 'Hornbake Library : HBK'},
    { title : 'Marie Mount Hall : MMH'},
    { title : 'Jeong H. Kim Engineering Building : KEB'},
    { title : 'Jimenez Hall : JMZ'},
    { title : 'Instructional Television Facility : ITV'},
    { title : 'Microbiology Building : MCB'},
    { title : 'Kent Hall (Residence Hall) : KNT'},
    { title : 'LeFrak Hall : LEF'},
    { title : 'J.M. Patterson Building : JMP'},
    { title : 'McKeldin Library : MCK'},
    { title : 'Martin Hall : EGR'},
    { title : 'McKeldin Mall : MKM'},
    { title : 'Knight Hall : KNI'},
    { title : 'Nyumburu Cultural Center : NCC'},
    { title : 'Montgomery Hall (Residence Hall) : MNT'},
    { title : 'Mathematics Building : MTH'},
    { title : 'Morrill Hall : MOR'},
    { title : 'Denton Hall (Residence Hall) : DEN'},
    { title : 'Ellicott Hall (Residence Hall) : ELL'},
    { title : 'LaPlata Hall (Residence Hall) : LPA'},
    { title : 'Chemical and Nuclear Engineering Building : CHE'},
    { title : 'Eppley Campus Recreation Center : CRC'},
    ];
      $('.ui.search')
        .search({
          source: content
        });
