form(class="ui form" method="POST" action="")
    div(class="field")
        div(class="ui search")
            if notFound
                div(class="ui pointing below red basic label")
                    p Not found. Select from suggestions.
            input#name.prompt(type='text', placeholder='Mathematics Building : MTH' name='name' value=( (undefined===building) ? '' : (building.name===null) ? building.code : building.name ))
            p Enter 3-4 letter building code or select from suggestions
            div(class="results")
            button.ui.button(type='submit') Submit
