extends layout

block content
	div(class='container')
		div(class='ui center aligned grid')
			div(class='mobile only left aligned column')
				include partials/index_body.pug
			div(class='computer only left aligned six wide column')
				include partials/index_body.pug

	include partials/footer.pug
