extends layout
block content
    div(class='ui center aligned grid')
        div(class="row")
            div(class='computer only left aligned six wide column')
                include partials/nearest_body.pug

            div(class="mobile only left aligned fifteen wide column")
                include partials/nearest_body.pug
                
    include partials/footer.pug
