extends layout
block content
    div(class='ui center aligned grid')
        div(class="row")
            div(class="left aligned six wide column")
                p
                    h1= message
                    if closest
                        p
                            h1= closest

                p
                    h3 Make another search:
                include partials/form.pug
    include partials/footer.pug
